body {
    width: 100%;
}
.header {
    overflow: hidden;
    background:pink;
    padding: 20px 10px;
}
.title {
    position: relative;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#photo {
    position: relative;
    float: right;
    align-items: flex-start;
}