body {
    width: 100%;
    background-image: url(image/background.jpg);
}
#header {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background:rgb(231, 222, 204);
    padding: 20px 10px;
    margin: -10px;
}
#title {
    position: relative;
    top: 0px;
    left: 30px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#photo {
    position: relative;
    top: -225px;
    left: 20px;
    float: right;
    align-items: flex-start;
}
#icon {
    position: relative;
    top: 30px;
    left: 100px;
}
a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px
}
#profile {
    width: 50%;
}
#work {
    width: 80%;
}
p1 {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p3 {
    opacity: 0.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#blank {
    width: 30px;
    height: 100%;
    position: relative;
    float: right;
    color: violet;
}