* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid black;
}

#boss {
    display: flex;
    flex-direction: column;
}
#header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aquamarine;
}
/* #logo {
    width: 30%;
} */
#frm {
    width: 70%;
}
#btn {
    width: 100px;
    font-size: 30px;
}
#inp {
    border-radius: 5px;
    font-size: 30px;
    width: 70%;
}