* {
    box-sizing: border-box;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    border: 5px solid black;
}
header img {
    position: relative;
    float: left;
}
header nav {
    position: relative;
    float: right;
}
div {
    border: 5px solid black;
}
.products {
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
.headline {
    width: 100%;
    margin-top: 130px;
    position: relative;
    text-align: center;
}