* {box-sizing: border-box;}
* {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
 body {
    margin: 0px;
    width: 100%;
}
.topnav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1A1A1B;
    text-align: center;
}
.topnav img {
    position: relative;
    left: -20px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 0px auto;
    
}
.topnav .login-container {
    position: relative;
    float: right;
    top: 40px;
}
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
}
.topnav .login-container button {
    float: right;
    width: 150px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.product-card {
    display: block;
    text-align: center;
    padding: 50px;
    cursor: pointer;
}
.product-card:hover {
    transform: scale(1.1);
}
.products {
    position: relative;
    top: 40px;
    display: inline-flex;
}
.headline {
    position: relative;
    top: 80px;
    left: 20px;
}
h2 {
    font-size: 50px;
    font-family: 'Train One', cursive;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A1A1B;
    text-align: center;
}
.icon {
    justify-content: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}
